<h2>Select second language</h2>

{% for lang in secondary_langs %}
    <div>
        <a href="{{ path('showTerms', {baseLang: app.request.get('baseLang'), secondaryLang: lang}) }}">{{ lang.value }}</a>
    </div>
{% endfor %}
