<form action="{{ path('addTerm') }}">
    <input type="text" name="term" placeholder="Term">
    <input type="text" name="translation" placeholder="Translation">
    <input type="submit" value="Save">
</form>